body {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

h2 {
    font-weight: 400;
}

.sect {
    min-height: 100vh;
    overflow: hidden;
    color: #263238;
    background-color: #fafafa;
}

.sect .container {
    min-height: 100vh;
    overflow: hidden;
}

#header, #contact {
    background-color: #263238;
    color: #e0e0e0;
    font-weight: 400;
}

.nav a {
    color: #a7c0cd;
}

#up-btn {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

.zap-logo {
    height: 4rem;
}

.undraw-cont {
    min-height: 100%;
    overflow: hidden;
}

#quellcode {
    color: #004c9e;
    text-decoration: none;
}

#quellcode:hover {
    color: #004c9e;
    text-decoration: none;
}

#erpnext-logo a {
    font-size: 2rem;
    text-decoration: none;
    color: #263238;
}

#erpnext-logo a:hover {
    font-size: 2rem;
    text-decoration: none;
    color: #263238;
}

.card {
    color: #263238;
    margin-bottom: 2rem;
}

.typeform-widget {
    width: 100%; 
    height: 100%;
    min-height: 100vh;
}

.typeform-ad, .typeform-ad a {
    font-family: Sans-Serif;
    font-size: 12px;
    color: #999;
    opacity: 0.5; 
    padding-top: 5px;
}

@media (min-width: 992px) {
    .spacer {
        visibility: hidden;
    }

    .undraw-cont {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}

@media (min-width: 1200px) {}

.btn-primary {
    background-color: #78BE20;
    color: white;
    border: none;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}
