@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    background-color: #fbfcfc;
}

.navbar {
    min-height: 15vh;
    border-bottom: 0.5px solid lightgrey;
}

.navbar-toggler-icon {
    color: #263238 !important;
}

.navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
}

#contact {
    overflow: hidden;
    min-height: 100vh;
}

#contact .container {
    overflow: hidden;
    min-height: 100vh;
}

#contact {
    background-color: #263238;
    color: #e0e0e0;
    font-weight: 400;
}

#alyf-logo {
    padding-top: 10px;
}

.nav a {
    color: #0090DA;
}

.nav a:hover {
    color: #78BE20;
    text-decoration: none;
}

#up-btn {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

.zap-logo {
    height: 4rem;
}

.undraw-cont {
    min-height: 100%;
    overflow: hidden;
}

#quellcode {
    color: #0090DA;
    text-decoration: none;
}

#quellcode:hover {
    color: #78BE20;
    text-decoration: none;
}

#erpnext-logo a {
    font-size: 2rem;
    text-decoration: none;
    color: #263238;
}

#erpnext-logo a:hover {
    font-size: 2rem;
    text-decoration: none;
    color: #263238;
}

.typeform-widget {
    width: 100%; 
    height: 100%;
    min-height: 100vh;
}

.typeform-ad, .typeform-ad a {
    font-family: Sans-Serif;
    font-size: 12px;
    color: #999;
    opacity: 0.5; 
    padding-top: 5px;
}

.spacer {
    height: 20vh;
}

.display-4 {
    font-size: 2rem;
}

/* bigger than medium */
@media (min-width: 992px) {
    .spacer {
        height: 30;
    }

    .undraw-cont {
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .navbar {
        height: 15vh;
    }

    .card {
        min-height: 80vh;
    }

    .display-4 {
        font-size: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .spacer {
        height: 50vh;
    }

    .card {
        min-height: 60vh;
    }
}

@media (max-width: 992px) {
    /* prevent un-centering on small screens */
    .row {
        margin-left: 0;
    }
}

/* Corporate Design */

#contact {
    background-color: #253746;
}

.btn-primary {
    background-color: #0090DA;
    color: white;
    border: none;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-primary:hover {
    background-color: #78BE20;
    text-decoration: none;
}

.btn-light {
    color: #0090DA;
    border: none;
}

.btn-light:hover {
    background-color: #78BE20;
    color: white;
    border: none;
}

.fa-3x {
    padding: 10px;
} 

.jumbotron {
    background-color: transparent;
    margin: auto;
}

.view {
  min-height: 85vh;
}

/* Typography */

p {
    font-family: muli, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #253746;
}

p.small {
    font-family: muli, sans-serif;
    font-weight: 200;
    font-style: normal;
}

ul {
    font-family: muli, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #253746;
}

h2 {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #253746;
}

h3 {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #253746;
}

h5 {
    font-family: muli, sans-serif;
    font-weight: 400;
    color: #253746;
}

h6 {
    font-family: muli, sans-serif;
    font-weight: 300;
    color: #253746;
}

.text-light {
    color: #fbfcfc !important;
}

#quellcode {
    color: #0090DA;
    text-decoration: none;
}

.card {
    color: #263238;
    background-color: white;
    padding-top: 30px;
    height: auto; 
    border: none;
}

.card-link {
    color: #0090DA;
}

.card-link:hover {
    color: #78BE20;
}

.card-text {
    font-family: muli, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #253746;
}

.nav a {
    color: #0090DA;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.display-4:not(.no-puck)::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: #0090DA;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.card-img-quali {
    height: 3rem; 
    align-self: center;
    margin: 10px;
}

/* Accordion */
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}

.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
}

.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    float: right;
    margin-top: -12px;
}

.panel-heading h5 {
    color: #253746;
}

.panel-heading h5:hover {
    color: #0090DA;
}

.panel-heading .fas {
    color: #0090DA;
}


