@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600');

body {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    background-color: #fbfcfc;
}

.navbar-toggler-icon {
    color: #263238 !important;
}

.navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

h2 {
    font-weight: 400;
}

.sect {
    overflow: hidden;
}

.sect .container {
    overflow: hidden;
}

#contact {
    background-color: #263238;
    color: #e0e0e0;
    font-weight: 400;
}

#alyf-logo {
    margin-top: 40px;
}

.nav a {
    color: #298FC2;
}

.nav a:hover {
    color: #004c9e;
    text-decoration: none;
}

#up-btn {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

.zap-logo {
    height: 4rem;
}

.undraw-cont {
    min-height: 100%;
    overflow: hidden;
}

#quellcode {
    color: #298FC2;
    text-decoration: none;
}

#quellcode:hover {
    color: #004c9e;
    text-decoration: none;
}

#erpnext-logo a {
    font-size: 2rem;
    text-decoration: none;
    color: #263238;
}

#erpnext-logo a:hover {
    font-size: 2rem;
    text-decoration: none;
    color: #263238;
}

.card {
    color: #263238;
    margin-bottom: 2rem;
}

.typeform-widget {
    width: 100%; 
    height: 100%;
    min-height: 100vh;
}

.typeform-ad, .typeform-ad a {
    font-family: Sans-Serif;
    font-size: 12px;
    color: #999;
    opacity: 0.5; 
    padding-top: 5px;
}

@media (min-width: 992px) {
    .spacer {
        visibility: hidden;
    }

    .undraw-cont {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}

@media (min-width: 1200px) {}

/*Corporate Design*/

#contact {
    background-color: #253746;
}

.btn-primary {
    background-color: #298FC2;
    color: white;
    border: none;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: muli, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #253746;
}

p.small {
    font-family: muli, sans-serif;
    font-weight: 200;
    font-style: normal;
}

ul {
    font-family: muli, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #253746;
}

h2 {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #253746;
}

h3 {
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fbfcfc;
}

.text-light {
    color: #fbfcfc !important;
}

#quellcode {
    color: #298FC2;
    text-decoration: none;
}

.nav a {
    color: #298FC2;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}
