<!-- Contact -->
<section class="sect" id="contact">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h2 class="text-light">Kontakt</h2>
                <p class="text-light">Unterstützung bei Fragen rund um ERPNext.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6">
                <!-- Kontaktdaten -->
                <h5 class="mb-0 text-light">Raffael Meyer,</h5>
                <p class="text-muted">Wirtschaftsinformatiker</p>
                <div class="py-2">
                    <p>
                        <a href="https://calendly.com/alyf/30min" target="_blank">
                            <button type="button" class="btn btn-primary">
                                <i class="fas fa-phone mr-1" id="fa-phone"></i>
                                Rückruf vereinbaren
                            </button>
                        </a>
                    </p>
                    <p>
                        <a class="typeform-share py-2" href="https://alyf2.typeform.com/to/WFzYAI" data-mode="popup"
                            data-hide-headers=true data-hide-footer=true data-submit-close-delay="5" target="_blank">
                            <button type="button" class="btn btn-primary">
                                <i class="fas fa-envelope mr-2" id="fa-phone"></i>
                                Anfrage senden
                            </button>
                        </a>
                    </p>
                </div>
                <div>
                    <p class="mb-0 text-light">+49 152 270 580 38</p>
                    <p class="pb-1 text-light">raffael@alyf.de</p>
                    <p class="text-light">
                        Scanbox #06351<br>
                        Ehrenbergstr. 16a<br>
                        10245 Berlin
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-0">
                <blockquote class="blockquote">
                    <p class="text-light">„Raffael ist ein gewissenhafter und zuverlässiger Kenner der ERPNext Software
                        und wir vertrauen gerne auf seine Expertise.“</p>
                    <footer class="blockquote-footer">Martin Seibert, Geschäftsführer, //SEIBERT/MEDIA GmbH</footer>
                </blockquote>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md">
                <p>
                    <a class="text-muted" href={{ "/datenschutz" | absURL }}>Datenschutzerklärung</a>
                </p>
            </div>
            <div class="col-md">
                <p class="text-muted float-md-right">
                    Design by <a class="text-muted" target="_blank"
                        href="https://www.linkedin.com/in/natalie-buehrmann/">
                        Natalie Bührmann</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Google Structured Data https://developers.google.com/search/docs/guides/intro-structured-data -->
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://www.alyf.de",
            "name": "Alyf - ERPNext Consulting",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+4915227058038",
                "contactType": "Customer service"
            }
        }
</script>
