<!-- Main navigation -->
<header class="sect" id="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href={{ .Site.BaseURL }}>
                <img src={{ "img/alyf.svg" | relURL }} id="alyf-logo" width="100" class="d-inline-block align-top" alt="ALYF-Logo">
            </a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/#erpnext">Warum ERPNext</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#services">Was wir Ihnen bieten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#zapier-app">Zapier App</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href={{ "/faq" | absURL }}>FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://erp.alyf.de/blog" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Full Page Intro -->
    <div class="view d-flex align-items-center banner">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row m-auto">
                <!--Grid column-->
                <div class="col-md-12 text-center mt-xl-5 mb-5">
                    <h2 class="h2-responsive mt-sm-5 text-light">{{ .Title }}</h2>
                    <hr class="hr-light">
                    <h6 class="mb-4 text-light lead">{{ .Description }}</h6>
                    <a href="#content" class="btn btn-light">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Full Page Intro -->
</header>
