<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
        content="ERP, ERPNext, Zapier, Consulting, Beratung, Schulung, Hosting, Open Source, Konfiguration, Alyf, Raffael, Meyer">
    <meta name="description"
        content="Alyf bietet Hosting von ERPNext auf sicheren, deutschen Servern. Wir schulen und beraten Sie zu allen Themen rund um ERPNext. Unser Spezialgebiet ist dabei die API zur Anbindung von Drittsoftware. Unsere Zapier App für ERPNext können Sie kostenlos nutzen.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ "css/bootstrap.min.css" | relURL }}>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
        integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
        integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">

    <link rel="stylesheet" href={{ "css/main.css" | relURL }}>
    <link rel="shortcut icon" href={{ "img/favicon.ico" | relURL }}>
    <meta name="google-site-verification" content="AkgFd7t-r1crP1ML0-u4ZxBHiIBkunGTNeZbana5bBE" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src={{ "js/bootstrap.bundle.min.js" | relURL }}></script>


    <title>Alyf - Hosting, Beratung und Entwicklung zu ERPNext</title>
</head>
